:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #04516180;
  background: linear-gradient(122.74deg, rgba(214, 221, 223, 0.753) -4.02%, rgba(34, 130, 150, 0.712) 52.1%, rgba(35, 184, 214, 0.774) 101.17%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
