@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Uchen&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid; */
}

.mainContainer {
    display: flex;
    justify-content: center;
    height: 100dvh;
    gap: 100px;
}

.infoContainer{
    padding: 20px;
    margin: 30px;
}
.icons {
    margin: 25px 10px  0; 
}
p{
    display: flex;
    align-items: center;
}
.icons svg {
    margin-right: 15px;
    height: 30px;
    width: 30px;
}
.Text{
    font-size: 20px;
}
.infoSide{
    width: 50%;
}
h1{
    color: rgb(169, 219, 219);
    display: flex;
    margin: 30px 0;
    font-size: -webkit-xxx-large;
    font-family: monospace;
}

.contectsummary{
    display: flex;
    text-align: start;
    font-family: "Uchen", system-ui;
    font-weight: 400;
    font-style: normal;
    margin:10px 0 60px 0;
}
.formSide{
    width: 50%;
}